<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "browser" value = "Chrome" />
		<add key ="extentReportFilePath"  value ="C:\Users\Gaurav_Jha\source\repos\CSharpFramework\UtilityLibrary\Report\"/>
		<add key ="basePageUrl"  value ="https://www.saucedemo.com/"/>
		<add key ="inventoryPageUrl"  value ="https://www.saucedemo.com/inventory.html"/>
		<add key ="cartPageUrl"  value ="https://www.saucedemo.com/cart.html"/>
		<add key ="checkoutPageUrl"  value ="https://www.saucedemo.com/checkout-step-two.html"/>
		<add key ="finishPageUrl"  value ="https://www.saucedemo.com/checkout-complete.html"/>
		
	</appSettings>
</configuration>